@font-face {
    font-family: "scary_font";
    font-weight: normal;
    src: url("../fonts/scary_font.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "scary_font", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 500%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.end {
    color: #dc143c;
}

.btn {
    font-size: 50%;
    padding: 5px;
    margin: 10px auto 10px;
    width: 100%;
    border-radius: 10px;
    border-width: 2px;
    border-color: #dc143c;
    border-style: solid;
    text-align: center;
    color: #dc143c;
    cursor: pointer;
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}