@font-face {
    font-family: "scary_font";
    font-weight: normal;
    src: url("../fonts/scary_font.ttf") format("truetype");
}

*, *::before, *::after {
    box-sizing: border-box;
    font-family: "scary_font", sans-serif;
}

body {
    padding: 0;
    margin: 0;
    align-items: center;
    justify-content: center;
    width: 100vw;
    height: 100vh;
    font-size: 500%;
    background-color: black;
    display: flex;
    flex-direction: column;
}

.end {
    color: #dc143c;
}

#btn1 {
    margin-top: 10%;
}

.btn {
    font-size: 50%;
    padding: 5px;
    margin: 0 auto 10px;
    width: 100%;
    text-align: center;
    color: #dc143c;
    cursor: pointer;
    border-radius: 10px;
}

.btn:hover,
.btn:focus {
    box-shadow: 0 0 10px 2px;
    transform: translateY(-0.25em);
}

a {
    text-decoration: none;
}

a:visited {
    color: white;
}
.escape{
    background-image: url("H:/atom-projects/hahaton/img/bunker.png");
    background-size: 100% 100%;
    background-repeat: no-repeat;
}
p{
  width: 80%;
  color: white;
  font-size: 18px;
  font-family: "game_font", sans-serif;
  text-shadow: -1px 1px 5px black;
}
@media only screen and (min-width: 810px){
  .box-end{
    margin-top: 4em;
  }
}
