*, *::before, *::after {
    box-sizing: border-box;
}

body::after{
    position:absolute; width:0; height:0; overflow:hidden; z-index:-1;
    content:url("../img/gasoline.png") url("../img/location_1_chest.png") url("../img/location_1_closet.png") url("../img/location_1_door.png") url("../img/location_1_openedDoor.png") url("../img/location_1_start.png") url("../img/location_1_underBed.png") url("../img/location_2.png") url("../img/location_2_hallLeft.png") url("../img/location_3_hatch.png") url("../img/location_4_acum.png") url("../img/location_4_car.png") url("../img/location_4_noAcum.png") url("../img/location_5_acum.png") url("../img/location_6_prisoner.png") url("../img/location_7_car.png");   // подгрузка_изображений
}

body {
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    width: 100vw;
    height: 100vh;
    background-size: cover;
    filter: brightness(100%);
}

#text {
    font-size: 22px;
    max-height: 20vh;
    color: white;
    /*opacity: 0.7;*/
}

.container {
    max-height: 30vh;
    width: 100vw;
    max-width: 100%;
    /*background-color: white;*/
    padding: 10px;
    border-radius: 5px;
    box-shadow: 0 0 10px 2px;
    margin-bottom: 15px;
}

.btn-grid {
    max-height: 10vh;
    display: grid;
    grid-template-columns: repeat(2, auto);
    gap: 10px;
    margin-top: 10px;
}

.option {
    /*opacity: 0.7;*/
    border-radius: 5px;
    padding: 5px 10px;
    color: white;
    outline: none;
    font-size: 18px;
}

button.option {
    background-color: transparent;
}

.option:hover {
    border-color: black;
}