@font-face {
  font-family: "scary_font";
  font-weight: normal;
  src: url("../fonts/scary_font.ttf") format("truetype");
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "scary_font", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #dc143c;
}

body {
  background-image: url("/hahaton/img/menu_theme.png");
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 35px;
}
.main_theme{
  display: flex;
  align-items: center;
  justify-content: center;
  width:auto;
  height: auto;
}

.screen {
  position: absolute;
}

.fot {
  font-family: sans-serif;
  color: white;
  width: 90%;
  display: flex;
  margin-top: 40%;
  justify-content: center;
  font-size: 30px;
  text-shadow: -1px 1px 5px black;
}

.button, .setting {
  margin: 0 auto 20px;
  width: 100%;
  border-radius: 10px;
  border-width: 3px;
  border-color: black;
  border-style: solid;
  text-align: center;
  padding: 10px;
  color: #dc143c;
  cursor: pointer;
}

.button:hover,
.button:focus {
  box-shadow: 0 0 10px 2px;
  transform: translateY(-0.25em);
}

.game{
  width: 20%;
}

.authors{
  color: #dc143c;
  text-shadow: -1px 1px 5px black;
}

h1{
  text-align: center;
}

li{
  margin-bottom: 0.5em;
}

@media only screen and (max-width: 810px){
  .fot{
    margin-top: 80%;
    width: 70%;
    font-size: 20px;
  }
}
