@font-face {
  font-family: "scary_font";
  font-weight: normal;
  src: url("../fonts/scary_font.ttf") format("truetype");
}

*, *::before, *::after {
  box-sizing: border-box;
  font-family: "scary_font", sans-serif;
}

a {
  text-decoration: none;
}

a:visited {
  color: #dc143c;
}

body {
  background-image: url('/hahaton/img/menu_theme.png');
  background-size: cover;
  padding: 0;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100vw;
  height: 100vh;
  font-size: 150%;
  /*line-height: 2;*/
}

.button {
  box-shadow: 0 0 10px 2px;
  margin: 0 auto 20px;
  width: 100%;
  border-radius: 10px;
  border-width: 2px;
  border-color: #111;
  border-style: solid;
  text-align: center;
  padding: 10px;
  color: #dc143c;
  cursor: pointer;
}

.game{
  width: 20%;
}
